[flake8]
ignore = E203, W503, F403, F405
max-line-length = 100
max-complexity = 29
select = B,C,E,F,W,T4,B9
exclude =
    .git,
    .git-blame-ignore-revs,
    .gitignore,
    .gitmodules,
    .github,
    .style.yapf,
    __pycache__,
    build,
    docs/source/conf.py,
    firmware,
    openocd_scripts,
    third_party,
    venv,
count = True
show-source = True
statistics = True
