[submodule "litedram"]
	path = third_party/litedram
	url = https://github.com/antmicro/litedram.git
[submodule "liteeth"]
	path = third_party/liteeth
	url = https://github.com/enjoy-digital/liteeth.git
[submodule "liteiclink"]
	path = third_party/liteiclink
	url = https://github.com/enjoy-digital/liteiclink.git
[submodule "litescope"]
	path = third_party/litescope
	url = https://github.com/enjoy-digital/litescope.git
[submodule "litex"]
	path = third_party/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "migen"]
	path = third_party/migen
	url = https://github.com/m-labs/migen
[submodule "verilator"]
	path = third_party/verilator
	url = https://github.com/verilator/verilator.git
	ignore = dirty
[submodule "xc3sprog"]
	path = third_party/xc3sprog
	url = https://github.com/matrix-io/xc3sprog.git
	ignore = dirty
[submodule "third_party/litex-boards"]
	path = third_party/litex-boards
	url = https://github.com/litex-hub/litex-boards.git
[submodule "third_party/litehyperbus"]
	path = third_party/litehyperbus
	url = https://github.com/litex-hub/litehyperbus.git
[submodule "third_party/litesdcard"]
	path = third_party/litesdcard
	url = https://github.com/enjoy-digital/litesdcard.git
[submodule "third_party/litepcie"]
	path = third_party/litepcie
	url = https://github.com/enjoy-digital/litepcie.git
[submodule "third_party/pythondata-software-picolibc"]
	path = third_party/pythondata-software-picolibc
	url = https://github.com/litex-hub/pythondata-software-picolibc.git
